.header {
    background-color: rgb(167, 233, 233);
    margin: 0;
    position: relative;
    bottom: 21px;
    height: 100px;
    color:rgb(14
    , 38, 48)
}
li {
    list-style-type: none;
    padding: 10px;
    font-size: 15px;
}
ul{
    display: flex;
}
.container{
    display: flex;
    padding: 20px;
}
.logoText{
    width: 80%;
}
Link{
    text-decoration: none;
}