label{
    color:brown;
}

input[type=text] {
    border-radius: 5px;
    border:'1px solid brown';
}

form{
    padding:25px
}

.btnbrown{
    background-color: #f9d188;
    padding: 8px;
   
}
.lightBlue{
    background-color:#8fc8f5;
    padding: 8px;
    position: relative;
    left:20px
}